body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* ------------------- NAV BAR --------------------  */

.navbar {
	background-color: black;
	color: brown;
}

.nav-link {
	color: brown;
}

.navbar-brand {
	color: red;
}

.navbar-nav .nav-link.active {
	color: yellow;
}

.navbar-nav {
	margin-left: auto;
	margin-right: 30px;
}
