body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		/* sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'Brand';
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* ------------------- NAV BAR --------------------  */

.navbar {
	background-color: black;
	color: brown;
}

.nav-link {
	color: brown;
}

.navbar-brand {
	color: red;
}

.navbar-nav .nav-link.active {
	color: yellow;
}

.navbar-nav {
	margin-left: auto;
	margin-right: 30px;
}

/* -------- HOME SCREEN ----------  */

.small-img {
	height: 200px;
	/* width: 100%; */
	border-radius: 10px;
}

.big-img {
	height: 400px;
	/* width: 100%; */
	border-radius: 10px;
}

h3 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
	font-weight: bold;
}

.room-card {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
}

.btn {
	background-color: black;
	color: white;
	box-shadow: none;
}
