@import '~antd/dist/antd.css';

html {
	--antd-wave-shadow-color: #a49366;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		/* sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'Brand';
	/* background-color: rgba(77, 62, 3, 0.254); */
	background-color: #f9f5ea;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--primary-color: #a49366;
}

/* ------------------- NAV BAR --------------------  */

.navbar {
	background-color: black;
	color: var(--primary-color);
}

.nav-link {
	color: var(--primary-color);
}

.navbar-brand {
	color: var(--primary-color);
}
.navbar-brand:hover {
	color: var(--primary-color);
}

.navbar-nav .nav-link.active {
	color: yellow;
}

.navbar-nav {
	margin-left: auto;
	margin-right: 30px;
}

.fa-bars {
	color: var(--primary-color);
	width: 100%;
}

#dropdownMenuButton1 {
	background-color: transparent;
	color: var(--primary-color);
	border: none;
}

.dropdown-menu {
	background-color: black;
}

a.dropdown-item {
	color: var(--primary-color);
}

/* -------- HOME SCREEN ----------  */
.small-img {
	height: 200px;
	/* width: 100%; */
	border-radius: 10px;
}

.big-img {
	height: 400px;
	/* width: 100%; */
	border-radius: 10px;
}

h3 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
	font-weight: bold;
}

.room-card {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
}

.btn {
	/* background-color: black; */
	color: var(--primary-color);
	box-shadow: none;
}

/* -------- BOOKING SCREEN ----------  */

.booking-container {
	margin: 50px;
}

.booking-card {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.range-picker {
	background-color: var(--primary-color);
}

/* ------ REGISTER SCREEN ------  */

input {
	margin: 10px 0;
}
